@import url('https://fonts.googleapis.com/css?family=Ravi+Prakash');
@import url('https://fonts.googleapis.com/css?family=Delius+Unicase');

body {
    background-image: url('../img/cork-wallet.png');
}
h1  {
    text-align: center;
    padding-top: 15px;
    font-size: 80px;
    font-family: 'Ravi Prakash', cursive;
    box-shadow: inset 0 0 20px beige;
    background-color: #265a88;
    border-radius: 50px;
    color: black;
    position: relative;
    bottom: 50px;
}
button {
    width: 90px;
    height: 90px;
    margin: 0;
    background-color: darkgray;
    border-radius: 20px;
    font-size: 150%;
}
input   {
    font-size: 25px;
}
.operator {
    background-color: #265a88;
}
#calContainer {
    position: relative;
    bottom: 103px;
    background-color: beige;
    background-image: url('../img/wood.jpeg');
    width: 400px;
    height: 555px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: inset 0 0 30px black;
}
#zeroDiv {
    position: relative;
    bottom: 103px;
    width: 500px;
    height: 70px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Delius Unicase', cursive;
    color: slategrey;
    font-size: 25px;
    display: none;
}
.numberLabels {
    margin-top: 15px;
    height: 75px;
    margin-bottom: 5px;
    border-radius: 3px;
}
#firstNumber {
    width: 125px;
}
#operator {
    width: 100px;
}
#secondNumber {
    width: 125px;
}